@()(implicit context:com.github.seijiro.controllers.Context)

<form action="/auth/login" method="post">
    <h2>@context.flash.get("notice")</h2>
    <p>
        <input type="text" name="username"/><br>
        <input type="password" name="password"/><br/>
    </p>
    <p>
        <input type="submit">
    </p>
</form>