@()(implicit context:com.github.seijiro.controllers.Context)

<form action="/auth/register" method="post">
    <h2>@context.flash.get("notice")</h2>
    <p>
        <label>希望ユーザ名</label><input type="text" name="username"/><br>
        <label>パスワード1回め</label><input type="password" name="password"/><br/>
        <label >パスワード再入力</label><input type="password" name="password_remind"/><br/>
    </p>
    <p>
        <input type="submit">
    </p>
</form>